.error{
    padding: 10px;
    color: red;
    border: 1px dotted red;
    font-family: 'Courier New', Courier, monospace;
}
.success{
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}